body{
    background-color:rgb(16,12,7);
}

img{

    float: right;
    padding-top:90px;
}
contant{
    float: left;
    padding-left: 90px;
    padding-top: 200px;
}
h1,p{
    color: aliceblue;
}
h1{
    font-size: 54px;
}
button{
   background: rgb(90, 74, 197);
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 5px;
   padding-bottom: 5px;
   color: aliceblue;
   font-style:initial;
   font-size: large;
   border-radius: 1cqh;

}